@using Microsoft.AspNetCore.Identity

@inject SignInManager<AspnetCoreMvcStarter.Models.ApplicationUser> SignInManager
@inject UserManager<AspnetCoreMvcStarter.Models.ApplicationUser> UserManager

@* ! Brand demo (display only for navbar-full and hide on below xl) *@
@if (ViewData["navbarFull"] != null)
{
  <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
    </a>

    @* ! Display menu close icon only for horizontal-menu with navbar-full *@
    @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
    {
      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
        <i class="ti ti-x ti-md align-middle"></i>
      </a>
    }
  </div>
}

@* ! Not required for layout-without-menu *@
@if (ViewData["navbarHideToggle"] == null)
{
  <div class='layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : "d-xl-none") @((@ViewData["contentNavbar"] != null && Convert.ToBoolean(@ViewData["contentNavbar"])) ? "" : "d-xl-none")'>
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="ti ti-menu-2 ti-md"></i>
    </a>
  </div>
}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <!-- Style Switcher -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item dropdown-style-switcher dropdown">
        <a class="nav-link btn btn-text-secondary btn-icon rounded-pill dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <i class='ti ti-md'></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-start dropdown-styles">
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-theme="light">
              <span class="align-middle"><i class='ti ti-sun me-3'></i>Light</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-theme="dark">
              <span class="align-middle"><i class="ti ti-moon-stars me-3"></i>Dark</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="javascript:void(0);" data-theme="system">
              <span class="align-middle"><i class="ti ti-device-desktop-analytics me-3"></i>System</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  <!-- / Style Switcher-->


  <ul class="navbar-nav flex-row align-items-center ms-auto">
    <!-- User -->
  @if (SignInManager.IsSignedIn(User))
  {
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
      <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
                    <img src="~/img/avatars/1.png" alt="avatar" class="rounded-circle">
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item mt-0" href="javascript:void(0);">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0 me-2">
                <div class="avatar avatar-online">
                  <img src="~/img/avatars/1.png" alt="avatar" class="rounded-circle">
                </div>
              </div>
              <div class="flex-grow-1">
                                    <h6 class="mb-0">@((await UserManager.GetUserAsync(User))?.Name)</h6>
                                    <small class="text-muted">@((await UserManager.GetUserAsync(User))?.UserName)</small>
              </div>
            </div>
          </a>
        </li>
        <li>
          <div class="dropdown-divider my-1 mx-n2"></div>
        </li>
        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            <i class="ti ti-user me-3 ti-md"></i><span class="align-middle">Hồ sơ</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            <i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Cài đặt</span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="javascript:void(0);">
            <span class="d-flex align-items-center align-middle">
              <i class="flex-shrink-0 ti ti-file-dollar me-3 ti-md"></i>
              <span class="flex-grow-1 align-middle">Hóa đơn</span>
              <span class="flex-shrink-0 badge bg-danger d-flex align-items-center justify-content-center">4</span>
            </span>
          </a>
        </li>
        <li>
          <div class="dropdown-divider my-1 mx-n2"></div>
        </li>
        <form id="logoutForm" asp-controller="Auth" asp-action="LogoutBasic" method="post">
        <li>
          <div class="d-grid px-2 pt-2 pb-1">
            <button type="submit" class="btn btn-sm btn-danger d-flex">
              <small class="align-middle">Đăng xuất</small>
              <i class="ti ti-logout ms-2 ti-14px"></i>
            </button>
          </div>
        </li>
      </form>
      </ul>
    </li>
  }
    <!--/ User -->
  </ul>
</div>
